body{
    background-color: rgb(198, 0, 0);
}

header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color:rgb(255, 217, 0);
}

.nopadding{
    padding: none;
}

.card{
    height: 450px;
}

footer{
    background : black;
    min-height : 40vh;
    color : white;
    padding : 100px;
}

footer ul{
    list-style: none;
    padding : 0px;
    margin : 0px;
}

footer ul li{
    margin : 20px;
}

footer i{
    font-size : 25pt;
    /* margin : 15px; */
}

.socialDiv{
    border : solid 0px white;
    /* width : 100%; */
}

.accordion-body img{
    max-width: 400px;
}

.padding{
    padding: 100px;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 217, 0);
}

.accordion-button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color:rgb(198, 0, 0);
    background-color: rgb(247, 213, 25);
}
.accordion-body{
    background-color:rgb(198, 0, 0);
}

.navbar-brand{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color:rgb(247, 213, 25)
}

.nav-link{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:rgb(247, 213, 25);
}

.display-5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(247, 213, 25)
}

footer{
    background-color: antiquewhite;
}

.form-control{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    font-family:'Times New Roman', Times, serif;
    color:rgb(247, 213, 25);
}

.pad20{
    padding: 20px;
}

figcaption{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}