
@font-face{
    font-family: rugeboogie;
    src: url(fonts/Ruge_Boogie/RugeBoogie-Regular.ttf);
}

@font-face{
    font-family: snowburstone;
    src: url(fonts/Snowburst_One/SnowburstOne-Regular.ttf);
}

a:link{
    color: #FFA1C3;
}
a:visited{
    color: #518ABA;
}
#cookiebanner{
    display: none;
    width: 100vw;
    height: 200px;
    background: rgba(255, 167, 201, 0.527);
    position: fixed;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#lightbox{
    width: 100vw; 
    height: 100vh;

    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;

    background-color: rgba(255, 126, 190, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

#lb_content{
    width: 600px;
    height: 400px;

    background: rgba(255, 125, 177, 0.8);
    border-radius: 20px;
    position: relative;
    font-family: snowburstone;
    color: #E8FBFF;
    font-size: 25px;
    text-align: center;
}

#lb_closebutton{
    position: absolute;
    top: 10px;
    left: 30px;
    cursor: pointer;
}

header{
    background-color: #FFA1C3;
}
body{
    background-color: #FFA1C3;
}

#wrap{
    width: 100vw;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    background: #FFA1C3;
    height: 180px;
}  

#logo{
    display: flex;
    align-items: center;
    flex-basis: 420px;
    flex-direction: column;
}

#text{
    font-size: 50px;
    font-family: rugeboogie;
    color: #518ABA;
    -webkit-text-stroke: 2px #518ABA;
    text-align: center;
}

#icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#icon img{
    width: 75px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.navline{
    font-family: snowburstone;
    color: #518ABA;
    font-size: 15px;
    -webkit-text-stroke: 1px;
}
nav ul a li{
    font-family: snowburstone;
    color: #518ABA;
    font-size: 19px;
    -webkit-text-stroke: 1px #518ABA;
}


#hero{
    min-height: 375px;
    display: flex;
    align-items: stretch;
    background-image: url(img/the\ tail\ fell\ off.jpeg);
    background-size: cover;
    background-position: center;
}
#herocontent{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgba(61, 161, 183, 0.65);
    background-size: cover;
    
}

#herotext{
    flex-grow: 1;
    text-align: center;
    padding: 10px;

}

#headertext p{
    margin: 0px;
    font-size: 27px;
    font-weight: 100;
    font-family: snowburstone;
    color: #B4EDFF;
    -webkit-text-stroke: 1.3px #E8FBFF;
}

#smalltext p{
    margin: 0px;
    font-family: snowburstone;
    color: #E8FBFF;
    font-size: 20px;
}
#heroactions{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
}

.actionbutton{
    border-radius: 20px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(180, 237, 255, 0.8)
}

.actionbutton p{
    font-family: rugeboogie;
    font-size: 35px;
    color: #B4EDFF;
    -webkit-text-stroke: 0.7px #E8FBFF;
}
#mainarea{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #8AB5C2;
    align-items: center;
}

#bioelements{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
   
}

#pooh{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.longpic img{
    width: 170px;
}

.widepic img{
    width: 250px;
}

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biohead{
    font-family: rugeboogie;
    font-size: 40px;
    color: #E8FBFF;
    -webkit-text-stroke: 1.1px #518ABA;
}

.biotext{
    font-family: snowburstone;
    font-size: 20px;
    color: #E8FBFF;
    -webkit-text-stroke: 0.3px #518ABA;
    text-align: center;
}

#media{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #ABD9E3;
    padding-bottom: 30px;
}

#mediaheading{
    font-size: 50px;
    font-weight: 500;
    font-family: rugeboogie;
    color: #518ABA;
    text-align: center;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
.mediaelements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
}

.mediapic a img{
    width: 200px;
}

.mediatext a p{
    font-size: 20px;
    font-weight: 100px;
    font-family: snowburstone;
    color: #E8FBFF;
    -webkit-text-stroke: 1.2px #518ABA;
    text-align: center;
}

#newsletter{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #E8FBFF
}

#raincloud p{
    margin: 5px;
    font-family: rugeboogie;
    color: #518ABA;
    font-size: 40px;
    text-align: center;
}

#newsbutton{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttonheader{
    font-family: snowburstone;
    color: #3DA1B7;
    font-size: 30px;
    text-align: center;
}

.newsinput{
    font-family: snowburstone;
    color: rgba(255, 161, 195, 0.5);
    font-size: 20px;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4F9;
}

#subscribebutton{
    border-radius: 10px;
    height: 60px;
    width: 300px;
    background-color: #FFA1C3;
    font-family: snowburstone;
    font-size: 28px;
    -webkit-text-stroke: 1.5px #3DA1B7;
    color: #3DA1B7;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: space-between;
    background-color: #FFA1C3;
}

.contact{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: snowburstone;
    color: #E8FBFF;
    font-size: 20px;
    align-items: center;
    padding: 10px;
}

.socialmedia{
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

#footerline{
    border: solid 1px #E8FBFF;
}

.socialmedia a svg{
    height: 50px;
    max-width: 50px;
}

#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bodyimage img{
    max-width: 300px;
}

#bodytext{
    font-family: snowburstone;
    font-size: 25px;
    color: #E8FBFF;
    text-align: center;
}